/.vscode/**

# Compiler Stuff
/sourcemod/scripting/**

# Keep only the actual files
!/sourcemod/scripting/include/
!/sourcemod/scripting/include/engineersworkshop.inc
!/sourcemod/scripting/ew_antisap.sp
!/sourcemod/scripting/ew_commands.sp
!/sourcemod/scripting/ew_spawn.sp
